<section id="{{mojit_view_id}}" class="weather portrait">
<div class="portrait">
<div class="bubble">
    <div class="place">
        <h2 id="placeName">Loading...</h2>
    </div>
    <div class="rectangle">
        <h2 id="temp">Loading... C</h2>
    </div>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>
    
    <div class="info">
        <div class="image"></div>
        <div class="desc"></div>
        <div class="forecast">
            <p>Loading...</p>
        </div>
    </div>
</div>
</div>
<div class="landscape">
    <div class="wmodules">
        <div>
            <div class="container">
                <img src="/static/Master/assets/images/ou.png">
                <p>Sunrise:</p>
                <p id="wSunrise">?</p>
                <p>Sunset:</p>
                <p id="wSunset">?</p>
            </div>
        </div>
        <div>
            <div class="container">
                <img src="/static/Master/assets/images/oa.png">
                <p>Humidity:</p>
                <p id="wHum">?</p>
                <p >Pressure:</p>
                <p><span id="wPress">?</span> mb</p>
                <p>Visibility:</p>
                <p id="wVis">?</p>
            </div>
        </div><div>
            <div class="container">
                <img src="/static/Master/assets/images/ow.png">
                <p>Chill:</p>
                <p id="wChill">?</p>
                <p>Direction</p>
                <p id="wDir">?</p>
                <p>Speed</p>
                <p><span id="wSpeed">?</span> km/h</p>
            </div>
        </div>
    </div>
</div>